# Environment files
.env
.env.*
!.env.example

# Dependencies
node_modules/

# Build output
dist/
build/

# TypeScript build information
*.tsbuildinfo

# Laravel
/vendor/
/storage/*.key
storage/logs/

# Logs
*.log
npm-debug.log
